apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-backend
  template:
    metadata:
      labels:
        app: node-backend
    spec:
      containers:
      - name: backend
        image: serag0/backend
        imagePullPolicy: Always
        ports:
        - containerPort: 3030

